DBHOST=<DBHOST>
DBPORT=<DBPORT>
DBUSER=<DBUSER>
DBNAME=<DBNAME>
DBPASS=<DBPASS>

SERVERPORT=<SERVERPORT>

SSLCERT=<SSL-CERT-PATH.pem>
SSLKEY=<SSL-KEY-PATH.pem>
SSLCHAIN=<SSL-CHAIN-PATH.pem>

NODE_ENV=<development/production>

AWS_ACCESS_KEY_ID=<AWS_ACCESS_KEY_ID>
AWS_SECRET_KEY=<AWS_SECRET_KEY>
S3_BUCKET=<S3_BUCKET>